{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
    </head>
    <body>
        <div class="sidenav">
            <a href="/">Home</a>
            <a href="{% url 'installing' %}">Installing</a>
            <a href="{% url 'usage' %}">Usage</a>
            <a href="{% url 'tutorials' %}">Tutorials</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="https://github.com/BlakeERichey/RLToolkit">GitHub</a>
        </div>
        <div class="page-header">
            <h1><a href="/">{% block head %}{% endblock %}</a></h1>
        </div>

        <div class="content-container">
          <div class="row">
              <div class="col-md-8">
                {% block content %}
                {% endblock %}
              </div>
          </div>
        </div>
    </body>
</html>