{% extends 'website/base.html' %}

{% block title %}RLToolkit - Reinforcement learning library for Python{% endblock %}

{% block head %}RLToolkit - Home{% endblock %}

{% block content %}
        <div class="home">
            <p>Reinforcement learning library for industry and personal use.<br>
               Included Reinforcement learning methods:<br>
               <ul>
               <li>Deep Q Learning</li>
               <li>A3C</li>
               <li>Policy Gradient</li>
               <li>COGA</li>
               </ul>
        </div>   
{% endblock %}